// INPUT & OUTDIR
params.fastq       = ''
params.outdir      = "$launchDir/rnaseq_star_results/"

// STAR
params.index       = ''
params.cpus_star   = 16
params.memory_star = 40.GB
params.additional_star = ''
params.genome          = ''    // only for CI
params.run_index       = false // only for CI

// FEATURECOUNTS
params.gtf = ''
params.cpus_featurecounts = 16
params.memory_featurecounts = 8.GB
params.additional_featurecounts = ''
params.prefix_counts = ''

// CONTAINER & HPC
params.container   = 'atpoint/rnaseq_star:1.1'
params.clusteropts = '--time 04:00:00'
params.queue       = 'normal'

// MISC
params.is_slurm = false
params.is_container = false

profiles {

   conda {
        process.conda           = "${baseDir}/environment.yml"
        conda.enabled           = true
    }

    docker {
        process.container       = params.container
        docker.enabled          = true      
        params.is_container     = true  
    }

    singularity {
        process.container       = "docker://${params.container}"
        singularity.enabled     = true
        singularity.autoMounts  = true
        params.is_container     = true
    }

    slurm {
        process.executor        = 'slurm'
        process.queue           = params.queue
        process.clusterOptions  = "${params.clusteropts}"
        params.is_slurm         = true
    }

    test {

        params.fastq  = "$baseDir/test/*_{1,2}.fastq.gz"
        params.outdir = "$baseDir/test/rnaseq_star_results/"
        params.index  = "$baseDir/test/index/"
        params.cpus_star = 1
        params.memory_star = 1.GB
        params.cpus_featurecounts = 1
        params.memory_featurecounts = 1.GB
        params.additional_featurecounts = ''
        params.prefix_counts = "test_"
        params.gtf = "$baseDir/test/genes.gtf" 
        params.genome = "$baseDir/test/genome.fa" 
        params.run_index = true

    }

}